<section class="padded-gallery grid-center gallery-background-color ">
    <h2 class="col-12_sm-12 padded gallery-heading-color gallery-heading-font centered"> {{item.heading}} </h2>
  
    <div class="col-4_xs-12 grid">
      <a href="{{item.left.top-image}}" data-fancybox="gallery" class="square col-12_xs-6" style="background-image:url({{item.left.top-image}})"> </a>
      <a href="{{item.left.bottom-image}}" data-fancybox="gallery" class="square col-12_xs-6" style="background-image:url({{item.left.bottom-image}})"> </a>
    </div>
    <div class="col-4_xs-12 grid">
      <a href="{{item.middle.top-image}}" data-fancybox="gallery" class="square col-12_xs-6" style="background-image:url({{item.middle.top-image}})"> </a>
      <a href="{{item.middle.bottom-image}}" data-fancybox="gallery" class="square col-12_xs-6" style="background-image:url({{item.middle.bottom-image}})"> </a>
    </div>
    <div class="col-4_xs-12 grid">
      <a href="{{item.right.top-image}}" data-fancybox="gallery" class="square col-12_xs-6" style="background-image:url({{item.right.top-image}})"> </a>
      <a href="{{item.right.bottom-image}}" data-fancybox="gallery" class="square col-12_xs-6" style="background-image:url({{item.right.bottom-image}})"> </a>
    </div>
  </section>