<section class="grid-middle padded textarea-background-color white-bg banner"  id="{{item.link.link}}">
  <div class="col-8_sm-12 left reveal padded fade-left" id="{{page.links.textarea}}">
    <p class="">{{item.textarea_html}}</p>
  </div>
  
  <div class="col-4_sm-12 grid center top padded-sides reveal fade-right">
    <div class="col-12 grid-center" >
      <hr class="top-line col-8 ">
    </div>
    <hr class="col-1 left-line">
    <h4 class="col-11 padded-top">{{item.subheading_html}}</h4>
  </div>
</section>
